*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Kdam Thmor Pro', sans-serif;
}
.navbar{
	display:flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex:1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: #555;
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;	
	align-items:left;
	flex-wrap: wrap;
	justify-content: space-around;	
}
.col2{
	flex-basis: 50%;
	min-width: 300px;	
}
.col2 img{
	max-width: 100%;
	padding: 54px 0;
}
.col2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 54px 0px;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background: firebrick;
}
.header{
	background: radial-gradient(#fff, #ffd6d6)
}
.header .row{
	margin-top: 80px;
}
.categories{
	margin: 70px 0;
}
.col3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}
.col3 img{
	width: 100%;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transfrom 0.5s;
}
.col4 img{
	width: 100%;
}
.col4 p{
	font-size: 100%;
}
.col4:hover{
	transform: translateY(-5px);
}
.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
	display: block;
}
.account-page{
	padding: 50px 0;
	background: radial-grandient(#fff,#ffd6d6);
}
.form-container{
	background: #fff;
	width: 600px;
	height: 900px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
/*--All products ---*/
.row2{
	justify-content: space-between;
	margin: 100px auto 50px;
	}
select{
	border: 1px solid #ff523b;
	padding: 5px;
}
select:focus{
	outline: none;
}
.page-btn{
	margin: 0 auto 88;
}
.page-btn span{
	display: inline-block;
	border:1px solid #ff523b;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page-btn span:hover{
	background: #ff523b;
	color: #fff;
}
/*--------single product details------*/
.single-product{
	margin-top: 80px;
}
.single-product .col2 img{
	padding:0;
}
.single-product .col2{
	padding: 20px;
}
.single-product h4{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.singl-product input{
	display: block;
	padding: 10px;
	margin-top: 20px;
	font-size:20px;
	margin-right: 10px;
	border: 1px solid #ff523b;
}
input:focus{
	outline: none;
}
.small-img-row{
	display: flex;
	justify-content: space-between;
}
.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}